body {
  margin: 0px auto;
  background: #7db9e8;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #7db9e8 0%,
    #21374b 100%
  );
  background: webkit-radial-gradient(
    center,
    ellipse cover,
    #7db9e8 0%,
    #21374b 100%
  );
  background: radial-gradient(ellipse at center, #7db9e8 0%, #21374b 100%);
  background-size: cover;
}

#game-board {
  position: relative;
  margin: 150px auto;
  width: 1200px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.226);
}

#game-zone {
  position: absolute;
  margin: 0 200px;
  width: 800px;
  height: 600px;
  background-color: blanchedalmond; /* se deja por ahora por si se ve ese color algo no va */
  overflow: hidden;
}

/* this will make the grayscale background when frog dies*/
#game-zone.filter {
  -webkit-filter: grayscale(1);
}
/* lanes */
#goal {
  width: 100%;
  height: 53px;
  background-image: url(../assets/decoration/cartoon_water.png);
  background-size: 7%;
  border-bottom: 2px white solid;
  filter: saturate(190%);
}

/* Nest  */

#goal > div {
  height: 45px;
  width: 45px;
  display: inline-block;
  /* background-image: url(../assets/decoration/nest01.png); */
  /* background-size: 50px 50px; */
}

#nest0 {
  position: relative;
  left: 142px;
  border: 1px solid red;
}

#nest1 {
  position: relative;
  left: 195px;
  border: 1px solid black;
}

#nest2 {
  position: relative;
  left: 252px;
  border: 1px solid red;
}

#nest3 {
  position: relative;
  left: 307px;
  border: 1px solid black;
}

#nest4 {
  position: relative;
  left: 362px;
  border: 1px solid red;
}

.frog {
  width: 45px;
  height: 45px;
  background-image: url(../assets/frogs/frog-head.png);
  background-size: 45px 45px;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Nest  */

.road {
  position: relative;
  width: 100%;
  height: 53px;
  background-color: gray;
  background-image: url(../assets/decoration/paviment.jpeg);
  background-size: 50%;
  border-bottom: 2px white dashed;
}

#road-4 {
  border-bottom: unset;
}

#road-0 {
  border-bottom: unset;
}

#rest-zone {
  position: relative;
  width: 100%;
  height: 53px;
  background-image: url(../assets/decoration/superGrass.jpeg);
  background-size: 7%;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
}

#start {
  position: relative;
  width: 100%;
  height: 53px;
  background-image: url(../assets/decoration/superGrass.jpeg);
  background-size: 7%;
  border-top: 2px white solid;
}

/* lanes */
#frog {
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(../assets/frogs/frog-head.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
  left: 370px;
  top: 7px;
  z-index: 0;
  transition: all 0.1s ease;
  -webkit-filter: drop-shadow(2px 2px 2px #222222);
  filter: drop-shadow(-2px 2px 3px #222222);
}

/* #frog.up {
  -webkit-animation: rotate-scale-up-hor 0.35s linear reverse forwards;
  animation: rotate-scale-up-hor 0.35s linear reverse forwards;
}

@-webkit-keyframes rotate-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2) rotateX(-180deg);
    transform: scale(2) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
}
@keyframes rotate-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2) rotateX(-180deg);
    transform: scale(2) rotateX(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-360deg);
    transform: scale(1) rotateX(-360deg);
  }
} */

#frog.dead {
  background-color: red;
}

.vehicle {
  position: absolute;
  width: 60px;
  height: 30px;
  background-size: 60px 30px;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-filter: drop-shadow(50px 50px 50px #222222);
  filter: drop-shadow(-5px 5px 4px #222222);
}
 
.familiar {
  bottom: 10px;
  background-image: url(../assets/cars/right/white_hatchback.png);
}
.familiar_left {
  bottom: 10px;
  background-image: url(../assets/cars/left/white_hatchback.png);
}

.mercedes {
  bottom: 10px;
  background-image: url(../assets/cars/right/mercedes-car-go-right.png);
  filter: brightness(140%);
}

.sedan {
  bottom: 10px;
  background-image: url(../assets/cars/right/yellow_sedan.png);
}
.sedan_left {
  bottom: 10px;
  background-image: url(../assets/cars/left/yellow_sedan.png);
}

.bigTruck {
  bottom: 10px;
  background-image: url(../assets/cars/right/white-blue_load_bigtruck.png);
  /* size */
  width: 120px;
  height: 30px;
  background-size: 120px 30px;
}

.smallTruck {
  bottom: 10px;
  background-image: url(../assets/cars/right/red_empty_bigtruck.png);

  width: 80px;
  height: 30px;
  background-size: 80px 30px;
}
.smallTruck_left {
  bottom: 10px;
  background-image: url(../assets/cars/left/red_empty_bigtruck.png);

  width: 80px;
  height: 30px;
  background-size: 80px 30px;
}

.police {
  bottom: 10px;
  background-image: url(../assets/cars/right/police-car-go-right.png);
}

.orangeCar {
  bottom: 10px;
  background-image: url(../assets/cars/right/orange-car-go-right.png);

  width: 60px;
  height: 30px;
  background-size: 60px 30px;
}

.redCar {
  bottom: 10px;
  background-image: url(../assets/cars/right/red-car-go-right.png);
}

.redCar_left {
  bottom: 10px;
  background-image: url(../assets/cars/left/red-car-go-left.png);
}

#trunkR {
  /* background-color: red; */
  background-image: url(../assets/decoration/sidetrunkR.png);
  background-size: 100% 910px;
  transform: rotate(15deg);
  position: absolute;
  left: -59px;
  top: -190px;
  width: 40%;
  height: 810px;
  z-index: 100;

  -webkit-filter: drop-shadow(50px 50px 50px #222222);
  filter: drop-shadow(10px 5px 5px #222222);
}
#trunkL {
  background-image: url(../assets/decoration/sidetrunkL.png);
  background-size: 100% 810px;
  transform: rotate(17deg);
  position: absolute;
  right: -90px;
  top: -100px;
  width: 50%;
  height: 810px;
  z-index: 100;

  -webkit-filter: drop-shadow(50px 50px 50px #222222);
  filter: drop-shadow(-10px -5px 5px #222222);
}

/*__________________GAME OVER________________*/

#losWindow {
  z-index: 10;
  position: absolute;
  width: 375px;
  height: 270px;
  top: 25%;
  left: 35%;
  border-radius: 30px;
  background-image: url(../assets/decoration/bkFrog.jpeg);
  /* change game over background  */
  background-size: 20%;
  filter: brightness(130%);
}

#losWindow.showGameOver {
  display: none;
}

#losWindow.heartbeat {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/*
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.gameover {
  width: 375px;
  height: auto;
  padding-top: 30px;
  background: none;
}

.gameover p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 80px;
  font-family: "Black Ops One", cursive;
  line-height: 60px;
  text-align: center;
  text-shadow: 5px 5px #000000;
  color: #ffffff;
}

.continueLose {
  width: 375px;
  height: auto;
  padding-top: 20px;
}

.continueLose p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-shadow: 2.5px 2.5px #000000;
}

.opcionesLose {
  width: 275px;
  height: auto;
  padding-top: 25px;
  margin: auto;
}

.yesLose a {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2.5px 2.5px #000000;
  padding: 12.5px 50px 12.5px 50px;
  border-radius: 10px;
  background: #006400;
  margin-right: 15px;
  float: left;

  -webkit-animation-name: animaciones2;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: animaciones2;
  -moz-animation-duration: 0.8s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  animation-name: animaciones2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animaciones2 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

@-moz-keyframes animaciones2 {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(1.1);
  }
}

@keyframes animaciones2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.noLose a {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1.5px 1.5px #fb3733;
  padding: 12.5px 50px 12.5px 50px;
  border-radius: 10px;
  background: #000000;
  float: left;
}

@-webkit-keyframes animaciones3 {
  0% {
    -webkit-transform: translate(-5px, 0px);
  }
  25% {
    -webkit-transform: translate(-2.5px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(2.5px, 0px);
  }
  100% {
    -webkit-transform: translate(5px, 0px);
  }
}

@-moz-keyframes animaciones3 {
  0% {
    -moz-transform: translate(-5px, 0px);
  }
  25% {
    -moz-transform: translate(-2.5px, 0px);
  }
  50% {
    -moz-transform: translate(0px, 0px);
  }
  75% {
    -moz-transform: translate(2.5px, 0px);
  }
  100% {
    -moz-transform: translate(5px, 0px);
  }
}

@keyframes animaciones3 {
  0% {
    transform: translate(-5px, 0px);
  }
  25% {
    transform: translate(-2.5px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(2.5px, 0px);
  }
  100% {
    transform: translate(5px, 0px);
  }
}

.noLose a:hover {
  -webkit-animation-name: animaciones3;
  -webkit-animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: animaciones3;
  -moz-animation-duration: 0.15s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  animation-name: animaciones3;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*__________________GAME OVER________________*/

/*__________________WIN GAME________________*/

/*__________________Start Window________________*/

#startWindow {
  z-index: 10;
  position: absolute;
  width: 390px;
  height: 270px;
  top: 25%;
  left: 33%;
  border-radius: 30px;
  background-color: #a1b3e78f;
  /* background-image: url(../assets/decoration/bkFrog.jpeg); */
  /* change game over background  */
  background-size: 20%;
  filter: brightness(130%);
}

#startWindow.hideStartGame {
  /* display: none; */
  -webkit-animation: rotate-out-center 0.6s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-28 22:43:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-out-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}
/**
* ----------------------------------------
* animation rotate-out-center
* ----------------------------------------
*/

.startGame {
  width: 375px;
  height: auto;
  padding-top: 30px;
  background: none;
}

.startGame p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 55px;
  font-family: "Corben", cursive;
  line-height: 77px;
  text-align: center;
  text-shadow: 5px 5px #000000dc;
  color: #148e45;
}

/* .continue {
  width: 375px;
  height: auto;
  padding-top: 20px;
}

.continue p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-shadow: 2.5px 2.5px #000000;
} */

.startBut {
  width: 275px;
  height: auto;
  padding-top: 25px;
  margin: auto;
}

.yes a {
  position: relative;
  left: 20%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: corbel;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 2.5px 2.5px #000000;
  padding: 12.5px 50px 12.5px 50px;
  border-radius: 10px;
  background: #006400c7;
  margin-right: 15px;
  float: left;

  -webkit-animation-name: animaciones2;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  -moz-animation-name: animaciones2;
  -moz-animation-duration: 0.8s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  animation-name: animaciones2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-webkit-keyframes animaciones2 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

@-moz-keyframes animaciones2 {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(1.1);
  }
}

@keyframes animaciones2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
/*__________________Start Window________________*/
